<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slmns.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistreringActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".NotesAdd" />
        <activity android:name=".FrontPageActivity"/>
        <activity android:name=".TilbudSideActivity"/>
        <activity android:name=".MedarbejderActivity"/>
        <activity android:name=".NotesRead"></activity>
    </application>

</manifest>